@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background: #282828;
    margin: 0px;
    color: #e5e7e7;
    font-size: 20px;
    padding-bottom: 40px;
    height: 100vh;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    flex: 1 0 calc(48% - 10vw);
    position: relative;
    background: #2b2a2acc;
    margin: 15px 15px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 10px 1px #000000;
    max-height: 80vh;
    overflow: auto;
}

aside {
    text-align: center;
    margin-bottom: 10px;
}

aside h1 {
    margin-bottom: 0;
}


h1 {
    color: #FFC72C;
    font-size: 26px;
}

h2 {
    color: #FFC72C;
    font-size: 22px;
    margin-bottom: 8px;
}

h3 {
    color: #FFC72C;
    font-size: 20px;
    margin: 0;
}

h4 {
    color: #FFC72C;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

a {
    color: #FFC72C;
    text-decoration: underline;
}

.background {
    width: 100%;
    position: fixed;
}


.background.main {
    opacity: 1;
    z-index: -3;
}

.background.fog {
    opacity: 0.4;
    z-index: -2;
}

.background.noise {
    opacity: 0.02;
    z-index: -1;
}

.img {
    width: 50%;
}

.expand {
    position: relative;
    font-size: 12px;
    color: #e5e7e7;
    display: none;
}

.img.clicked {
    width: 90%;
}


.img:hover+.expand {
    display: block;
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}




.logo {
    width: 20px;
    margin-left: 5px;
    position: relative;
    top: 0px;
}

.logo.profile {
    width: 30px;
    margin-right: 1px;
    top: 3px;
    position: relative;
}



@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
        height: 112vh;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        color: #FFC72C;
        font-size: 18px;
    }

    h3 {
        color: #FFC72C;
        font-size: 16px;
    }

    .img {
        width: 100%;
    }

    .img.clicked {
        width: 100%;
    }

    .expand {
        font-size: 0px;

    }

    section {
        flex-direction: column;
        height: 100vh;
    }
}

@media screen and (max-width: 2000px) {
    img {
        height: 100%;
        width: auto;
    }
}

/* Adjustments for small screens, making it one element per column */
@media (max-width: 800px) {
    article {
        flex: 1;
    }
}