@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1E1E1E;
    /* Background color */
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.25;
}

ul {
    position: relative;
    transform: skewY(-15deg);
}

ul li {
    position: relative;
    list-style: none;
    width: 250px;
    background: #242424;
    /* List item background color */
    padding: 25px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li:hover {
    background: #4D4D4D;
    transform: translateX(-25px);

    transition: 0.5s;
}

ul li:before {
    content: '';
    position: absolute;
    bottom: 0.3px;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #222222;
    transform-origin: right;
    transform: skewY(45deg);

    transition: 0.5s;
}

ul li:hover::before {
    background: #404040;
    /* Hover skew before background color */
}

ul li::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #222222;
    /* Skew after background color */
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li:hover::after {
    background: #404040;
    /* Hover skew after background color */
}

ul li a {
    text-decoration: none;
    color: #B3B3B3;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

ul li:hover a {
    color: #FFFFFF;
}

.nav li:nth-child(1) {
    --i: 4;
}

.nav li:nth-child(2) {
    --i: 3;
}

.nav li:nth-child(3) {
    --i: 2;
}

.nav li:nth-child(4) {
    --i: 1;
}

/* on click */
ul li:active {
    background: #9e9e9e;
    transition: 0.5s;
}

ul li:nth-child(1)::after {
    content: 'Amin Yahya Selhabi';
    color: #B3B3B3;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

}